* {
  outline: none !important;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-bottom: 1px solid #f5f5f5;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}
.header__logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__actions li {
  margin-right: 10px;
  position: relative;
}
.header__actions li:last-child {
  margin-right: 0;
}
.header .js-form {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  width: 300px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.header .js-form.opened {
  opacity: 1;
  visibility: visible;
}

.main {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 0;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-top: 1px solid #f5f5f5;
  padding: 10px 0;
}

.catalog .row > div {
  margin-bottom: 30px;
}
.catalog .row > div:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.catalog__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.catalog__item .js-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  z-index: 20;
}
.catalog__item .item__img img {
  max-width: 100%;
}
.catalog__item .item__body {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog__item .item__action {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.catalog__item .item__action li {
  border-bottom: 1px solid #fff;
}
.catalog__item .item__action li:last-child {
  border-bottom: 0;
}
.catalog__item .item__action button {
  display: block;
  width: 30px;
  height: 30px;
  z-index: 10;
  position: relative;
  background-color: dodgerblue;
}
.catalog__item .item__action button:hover {
  background-color: #0583ff;
}
.catalog__item .item__action button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}
.catalog__item .item__action button._del:before {
  background: url("../images/del.png") no-repeat center;
}
.catalog__item .item__action button._edit:before {
  background: url("../images/edit.png") no-repeat center;
}
.catalog__item .item__title {
  font-weight: bold;
  font-size: 16px;
}
.catalog__item .item__title a {
  color: #000000;
  text-decoration: none;
}
.catalog__item .item__title a:hover {
  text-decoration: underline;
}
.catalog__item .item__price {
  font-size: 20px;
  font-weight: bold;
}
.catalog__item:hover .item__action {
  opacity: 1;
  visibility: visible;
}

.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
}
.form-popup__inner {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 20px;
}
.form-popup.opened {
  opacity: 1;
  visibility: visible;
}
